- content_for :header do
  = stylesheet_link_tag 'home/tour', media: 'all'

#body-container
  #content-container
    - if !user_signed_in?
      .input-form
        = form_for resource, url: session_path(:user), remote: true do |f|
          = f.email_field :email, placeholder: 'email'
          = f.password_field :password, placeholder: 'password'
          %p(id='panel')
            = f.label :remember_me do
              %a Remember me
              = f.check_box :remember_me
            | 
            = link_to "Forgot your password?", forgot_path
            |
            = link_to "Author", 'http://jakub.meinlschmidt.org/'
          = f.submit value: 'Sign in'
        %button(id='new_account')
          Create a new account 

        :javascript
          $(document).ready(function() {
            $('#new_user')
            .bind('ajax:success', function(evt, data, status, xhr) {
              window.location = '/';
            })
            .bind("ajax:error", function(evt, xhr, status, error) {
              $('#error-container').remove();
              $('#content-container').append('<div id=\'error-container\'></div>');

              $('#error-container').append('<p>' + xhr.responseText + '</p>');
            });

            $('#new_account').click(function() {
              window.location = '/register';
            });
          });
    - else
      .input-form
        %button(id='new_account')
          Continue
          :javascript
            $('#new_account').click(function() {
              window.location = '/';
            });